---
import App from "../App.astro";
import "../design-system/colors_and_type.css";
import "../styles.css";
import "../extras.css";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>pi.dev / web</title>
  </head>
  <body>
    <App />
  </body>
</html>
